<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href='/static/style.css' />
      <title>{{licensenum}}번 라이센스 대여 현황</title>
  </head>
   <center>
   <body>
      <div id="body-wrapper">
         <div id="body-content">
      <p><h1>{{licensenum}}번 라이센스 대여 현황</h1></p>
      <table border = 1>
         <thead>
            <td>이름</td>
            <td>대여 시점</td>
            <td>반납 기한</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row[6]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br>
      <button onclick="window.location.href='{{url_for('index')}}';"><h1>초기화면으로 돌아가기</h1></button><br>
   </div>
   <footer class = "footer"><center>Courtesy of Signal Processing Lab, SEOULTECH</center></footer>
</div>
   </body>
   </center>
</html>